---
http_interactions:
- request:
    method: post
    uri: https://www.okcupid.com/login
    body:
      encoding: UTF-8
      string: username=cute_taco&password=boyzRUL3!&okc_api=1
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Okws-Version:
      - OKWS/3.1.30.3
    body:
      encoding: UTF-8
      string: |
        {"thumbnail" : "https://k2.okccdn.com/php/load_okc_image.php/images/160x160/160x160/0x90/500x590/2/1107464672473954586.webp?v=2", "screenname" : "cute_taco", "status_str" : null, "userid" : "7338700133165320131", "status" : 0}
  recorded_at: Tue, 21 Oct 2014 20:30:26 GMT
recorded_with: VCR 2.9.3
