---
http_interactions:
- request:
    method: post
    uri: https://www.okcupid.com/login
    body:
      encoding: UTF-8
      string: username=cat_in_a_box&password=idontknow&okc_api=1
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Okws-Version:
      - OKWS/3.1.30.3
    body:
      encoding: UTF-8
      string: |
        {"screenname" : null, "status_str" : null, "userid" : "4716854132691834096", "status" : 104}
  recorded_at: Tue, 21 Oct 2014 22:30:09 GMT
recorded_with: VCR 2.9.3
